/.idea
/out
/target
/*/target
/core/build/target
/project/target
/project/project
/plugin/*.zip
/plugin/*.jar
/plugin/resources/META-INF/plugin.xml
.DS_Store

.bsp
.shell
.cache
.direnv
.envrc

.build
.shake
.gradle
.stack-work
/dist

*.cabal
cabal.project.*
